.btn{
    height: 42px;
    width: 180px;
    margin: auto;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 30px;
    margin-bottom: 86px;
    transition: all 0.5s ease-out;
  }
  .btn:hover {
    color: #000;
    background-color: #fff;
    outline: solid 1px #000;
    cursor: pointer;
  }