* {
  font-family: "Gilroy", sans-serif;
  color: #070707;
}
section {
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1, h2 {
  font-weight: 700;
  font-size: 47.3392px;
  line-height: 59px;
}
header {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 940px;
  width: 100%;
}
.wrapp_btns{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 20px;
}

